.icon-nav-bottom {
  @apply w-7 h-7 text-black dark:text-white group-active:text-blue-600 dark:group-active:text-blue-500;
  stroke-width: 1px;
}

.bottom-nav.active > .icon-nav-bottom {
  @apply dark:text-blue-400 text-blue-600;
  stroke-width: 1.5px;
}

.bottom-nav-center > .icon-nav-bottom-center {
  @apply text-black dark:text-white w-8 h-8 transition;
  stroke-width: 1px;
}

.bottom-nav-center.active > .icon-nav-bottom-center {
  @apply text-blue-600 ;
  stroke-width: 1.5px;
}

.item-nav {
  @apply rounded-full transition-colors duration-150 ease-in-out;
}

